<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>FIGMA | Макеты для верстки — Верстка страницы</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Макет для верстки сайта был взял с телеграм канала FIGMA | Макеты для верстки">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

    <!-- Начало: Данный блок удалять нельзя -->
    <div class="maketforfigma">
        <a href="https://t.me/s/FigmaToHTML" target="_blank">
            <img src="img/logo.png">
        </a>
        <div>
            <p>
                Данная верстка, была реализована пользователем в рамках обучающего телеграм канал <a
                    href="https://t.me/s/FigmaToHTML" target="_blank">FIGMA | Макеты для верстки</a>
            </p>
            <p>
                При помощи <a href="https://t.me/HtmlCodeForMoney_bot?from_git" target="_blank">Telegram-бота</a>
                пользователь получил оплату за верстку этого макета.
            </p>
        </div>
    </div>
    <!-- Конец -->

    <div class="main">
        <header class="header">
            <div class="container">
                <div class="header-top">
                    <a class="header__logo" href="#">
                        <img class="header-top__logo" src="img/header-logo.png" alt="header logo">
                    </a>
                    <nav class="header-top__nav">
                        <ul class="header-top__list">
                            <li class="header-top__item">
                                <a href="#" class="header-top__link">
                                    Кто мы?
                                </a>
                            </li>
                            <li class="header-top__item">
                                <a href="#" class="header-top__link">
                                    Услуги
                                </a>
                            </li>
                            <li class="header-top__item">
                                <a href="#" class="header-top__link">
                                    Акселератор
                                </a>
                            </li>
                            <li class="header-top__item">
                                <a href="#" class="header-top__link">
                                    Новости
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <button class="header-top__btn">
                        Войти
                    </button>
                </div>
                <div class="header-content">
                    <h1 class="header-content__title">
                        Запустите

                        <marker>
                            технологический IT-бизнес
                        </marker>
                        на международных рынках
                    </h1>
                    <p class="header-content__text">
                        Открыт набор заявок на акселератор
                    </p>
                    <button class="header-content__btn">
                        Подать заявку
                    </button>
                </div>
            </div>
        </header>
        <section class="services">
            <div class="container">
                <h2 class="services__title title">
                    Наши услуги
                </h2>
                <div class="services__items">
                    <div class="services__item">
                        <div class="services__content">
                            <h4 class="services__item-title">
                                Аналитические исследования
                            </h4>
                            <p class="services__item-text">
                                Одним из наших ключевых направлений является анализ технологических трендов на
                                международных рынках.
                                Мы проводим анализ на основе публичных исследований McKinsey, BCG, PWC, Deloitte,
                                Accenture, BCG, EY, Crunchbase, Dealroom, F6S, PitchBook а также агрегируем и
                                анализируем данные из открытых международных источников патенты, медиа, научные
                                публикации
                            </p>
                            <a class="services__link" href="#">
                                Узнать подробнее
                            </a>
                        </div>
                        <img class="services__img" src="img/services/1.png" alt="services img">
                    </div>
                    <div class="services__item services__item-bottom">
                        <img class="services__img" src="img/services/2.png" alt="services img">
                        <div class="services__content">
                            <h4 class="services__item-title">
                                Онлайн акселератор для IT бизнеса
                            </h4>
                            <p class="services__item-text">
                                Онлайн программа аскелерации IT бизнеса позволит вашей команде открыть новые
                                горизонты и возможности для бизнеса на глобальных рынках. В результате программы вы
                                получите возможность презентовать свой проект для международных инвесторов и
                                локальных партнеров
                            </p>
                            <a class="services__link" href="#">
                                Узнать подробнее
                            </a>
                        </div>
                    </div>
                </div>
                <div class="services__aside aside">
                    <h2 class="aside__title title">
                        Для кого мы?
                    </h2>
                    <div class="aside__box">
                        <div class="aside__item">
                            <h3 class="aside__item-title">
                                01
                            </h3>
                            <h4 class="aside__item-subtitle">
                                IT проекты на стадии идеи
                            </h4>
                            <p class="aside__item-text">
                                Для стартапов, которые планируют <br> привлечь международные инвестиции, протестировать
                                спрос
                                и запустить <br> продукт
                            </p>
                        </div>
                        <div class="aside__item">
                            <h3 class="aside__item-title">
                                02
                            </h3>
                            <h4 class="aside__item-subtitle">
                                Инновационный бизнес
                            </h4>
                            <p class="aside__item-text">
                                Для уже работающего <br> технологического бизнес, позволим найти новые международне
                                рынки <br>
                                сбыта, масштабировать бизнес
                            </p>
                        </div>
                        <div class="aside__item">
                            <h3 class="aside__item-title">
                                03
                            </h3>
                            <h4 class="aside__item-subtitle alt-subtitle">
                                I
                            </h4>
                            <p class="aside__item-text">
                                Для уже работающего <br> технологического бизнес, позволим найти новые международне
                                рынки <br>
                                сбыта, масштабировать бизнес
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="markets">
            <div class="markets__wrap">
                <div class="alt-container">
                    <div class="markets__top">
                        <h2 class="markets__top-title">
                            Научитесь исследовать иностранные рынки <br>
                            и откройте новые возможности для своего бизнеса
                        </h2>
                        <p class="markets__top-text">
                            Наша команда поможет вам изучить рынки Ближнего Востока, Азии, Латинской Америки и Африки
                        </p>
                        <button class="markets__top-btn">
                            Получить консультацию
                        </button>
                    </div>
                </div>
            </div>
            <div class="markets__info info">
                <div class="container">
                    <h2 class="info__title title">
                        С какими рынками мы работаем?
                    </h2>
                    <nav class="info__nav">
                        <ul class="info__list">
                            <li class="info__item info__item--active">
                                Ближний восток
                            </li>
                            <li class="info__item">
                                Азия
                            </li>
                            <li class="info__item info__item--decor">
                                Латинская Америка
                            </li>
                            <li class="info__item">
                                Африка
                            </li>
                        </ul>
                    </nav>
                    <div class="info__content">
                        <div class="info__descr">
                            <h3 class="info__descr-title">
                                Чем интересен
                                <span>
                                    Рынок MENA:
                                </span>
                            </h3>
                            <p class="info__descr-text">
                                ОАЭ, Саудовская Аравия, <br>
                                Израиль, Оман, Бахрейн, Катар, <br>
                                Тунис, Йемен, Египет, Алжир
                            </p>
                            <button class="info__btn">
                                Выйти на рынок
                            </button>
                            <div class="info__manager">
                                Фатима <span class="info__manager-post">
                                    Менеджер по MENA
                                </span>
                            </div>
                        </div>
                        <div class="info__content-items">
                            <div class="info__content-item">
                                <h4 class="info__content-title">
                                    >5,5
                                    <span>
                                        Млрд
                                    </span>
                                </h4>
                                <p class="info__content-text">
                                    Инвестиции pre-seed, seed
                                </p>
                            </div>
                            <div class="info__content-item">
                                <h4 class="info__content-title">
                                    >300
                                </h4>
                                <p class="info__content-text">
                                    Акселераторов, инкубаторов
                                </p>
                            </div>
                            <div class="info__content-item">
                                <h4 class="info__content-title">
                                    >73
                                </h4>
                                <p class="info__content-text">
                                    Венчурных фонда
                                </p>
                            </div>
                            <a class="download">
                                <p class="download__text">
                                    Скачать отчет <br>
                                    по рынку MENA
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="markets-about about">
                <div class="container">
                    <h2 class="about__title title">
                        Об акселераторе IT бизнеса
                    </h2>
                    <p class="about__text">
                        Программа акселератора расчитана на 8 недель интенсивного онлайн курса с вебинарами приглашенных
                        экспертов по международным рынкам, разборами ваших идей и проектов
                    </p>
                    <div class="about__items">
                        <div class="about__item">
                            <img class="about__item-img" src="img/markets/about1.png" alt="about img">
                            <p class="about__item-text">
                                Месяца обучения
                            </p>
                        </div>
                        <div class="about__item">
                            <img class="about__item-img" src="img/markets/about2.png" alt="about img">
                            <p class="about__item-text">
                                Приглашенные эксперты
                            </p>
                        </div>
                        <div class="about__item">
                            <img class="about__item-img" src="img/markets/about3.png" alt="about img">
                            <p class="about__item-text">
                                Персональный менеджер
                            </p>
                        </div>
                    </div>
                    <div class="about__video video">
                        <p class="video__text">
                            Об акселерационной программе
                        </p>
                        <a data-fancybox class="video__link" href="https://www.youtube.com/watch?v=650H2AQHuuY"
                            class="video__link">
                            <img src="img/markets/play.png" alt="play button">
                        </a>
                    </div>
                </div>
            </div>
            <div class="markets__accelerator accelerator">
                <div class="container">
                    <h2 class="accelerator__title title">
                        Программа акселератора
                    </h2>
                    <ul class="accelerator__list">
                        <li class="accelerator__module module">
                            <div class="module__links">
                                <a id="module1" class="module__link" href="javascript:void(0);">
                                    Модуль 1
                                    <sran class="module__text">
                                        Тенденции и тренды современного мира
                                    </sran>
                                </a>
                                <a id="module-icon1" href="javascript:void(0);" class="module__link-icon">
                                    <img src="img/markets/arrow-icon.svg" alt="icon">
                                </a>
                            </div>
                            <div class="sub-module">
                                <div class="sub-module__wrapper">
                                    <ul class="sub-module__list">
                                        <li class="sub-module__item">
                                            <p class="sub-module__text">
                                                Тема 1. Куда движутся IT тренды? Аналитика Gartner, разбор отчетов
                                                консалтинговых компаний
                                            </p>
                                        </li>
                                        <li class="sub-module__item">
                                            <p class="sub-module__text">
                                                Тема 2. Рынки Ближнего Востока, Азии, Латинской Америки
                                            </p>
                                        </li>
                                        <li class="sub-module__item">
                                            <p class="sub-module__text">
                                                Тема 3. Что такое внутренние и внешние инновации? Как искать
                                                инновационные идеи?
                                            </p>
                                        </li>
                                        <li class="sub-module__item">
                                            <a class="sub-module__link" href="#">
                                                9 видео роликов, вебинар с приглашенным экспертом
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="accelerator__module module">
                            <div class="module__links">
                                <a id="module2" class="module__link" href="javascript:void(0);">
                                    Модуль 2
                                    <sran class="module__text">
                                        Стартап подход к созданию международного IT продукта
                                    </sran>
                                </a>
                                <a id="module-icon2" href="javascript:void(0);" class="module__link-icon">
                                    <img src="img/markets/arrow-icon.svg" alt="icon">
                                </a>
                            </div>
                        </li>
                        <li class="accelerator__module module">
                            <div class="module__links">
                                <a id="module3" class="module__link" href="javascript:void(0);">
                                    Модуль 3
                                    <sran class="module__text">
                                        Бизнес моделирование и поиск Product Market Fit
                                    </sran>
                                </a>
                                <a id="module-icon3" href="javascript:void(0);" class="module__link-icon">
                                    <img src="img/markets/arrow-icon.svg" alt="icon">
                                </a>
                            </div>
                        </li>
                        <li class="accelerator__module module">
                            <div class="module__links">
                                <a id="module4" class="module__link" href="javascript:void(0);">
                                    Модуль 4
                                    <sran class="module__text">
                                        Определение рынка, поиск и исследование Целевой аудитории
                                    </sran>
                                </a>
                                <a id="module-icon4" href="javascript:void(0);" class="module__link-icon">
                                    <img src="img/markets/arrow-icon.svg" alt="icon">
                                </a>
                            </div>
                        </li>
                        <li class="accelerator__module module">
                            <div class="module__links">
                                <a id="module5" class="module__link" href="javascript:void(0);">
                                    Модуль 5
                                    <sran class="module__text">
                                        Что такое MVP и почему это важно
                                    </sran>
                                </a>
                                <a id="module-icon5" href="javascript:void(0);" class="module__link-icon">
                                    <img src="img/markets/arrow-icon.svg" alt="icon">
                                </a>
                            </div>
                        </li>
                        <li class="accelerator__module module">
                            <div class="module__links">
                                <a id="module6" class="module__link" href="javascript:void(0);">
                                    Модуль 6
                                    <sran class="module__text">
                                        Unit экономика и финансовое моделирование
                                    </sran>
                                </a>
                                <a id="module-icon6" href="javascript:void(0);" class="module__link-icon">
                                    <img src="img/markets/arrow-icon.svg" alt="icon">
                                </a>
                            </div>
                        </li>
                        <li class="accelerator__module module">
                            <div class="module__links">
                                <a id="module7" class="module__link" href="javascript:void(0);">
                                    Модуль 7
                                    <sran class="module__text">
                                        Что такое дорожная карта продукта?
                                    </sran>
                                </a>
                                <a id="module-icon7" href="javascript:void(0);" class="module__link-icon">
                                    <img src="img/markets/arrow-icon.svg" alt="icon">
                                </a>
                            </div>
                        </li>
                        <li class="accelerator__module module">
                            <div class="module__links">
                                <a id="module8" class="module__link" href="javascript:void(0);">
                                    Модуль 8
                                    <sran class="module__text">
                                        Документы дя международных инвесторов
                                    </sran>
                                </a>
                                <a id="module-icon8" href="javascript:void(0);" class="module__link-icon">
                                    <img src="img/markets/arrow-icon.svg" alt="icon">
                                </a>
                            </div>
                        </li>
                        <li class="accelerator__module module">
                            <div class="module__links">
                                <a id="module9" class="module__link" href="javascript:void(0);">
                                    Модуль 9
                                    <sran class="module__text">
                                        Открытие юридического лица. Возможности для стартапов
                                    </sran>
                                </a>
                                <a id="module-icon9" href="javascript:void(0);" class="module__link-icon">
                                    <img src="img/markets/arrow-icon.svg" alt="icon">
                                </a>
                            </div>
                        </li>
                        <li class="accelerator__module module">
                            <div class="module__links">
                                <a id="module10" class="module__link" href="javascript:void(0);">
                                    Демо день
                                </a>
                                <a id="module-icon10" href="javascript:void(0);" class="module__link-icon">
                                    <img src="img/markets/arrow-icon.svg" alt="icon">
                                </a>
                            </div>
                        </li>
                    </ul>
                    <button class="accelerator__btn">
                        Получить полную программу
                    </button>
                </div>
            </div>
            <div class="markets__partners partners">
                <div class="container">
                    <div class="partners__wrapper">
                        <div class="partners__content">
                            <h3 class="partners__title">
                                Попадите на радары инвесторов и партнеров
                            </h3>
                            <p class="partners__text">
                                В результате прохождения обучения мы создадим профили вашей компании на всех
                                международных скаутинговых площадках
                            </p>
                            <button class="partners__btn">
                                Записаться в акселератор
                            </button>
                        </div>
                        <div class="partners__logo">
                            <div class="partners__item">
                                <img class="partners__logo-img" src="img/markets/partner1.png" alt="partners logo">
                            </div>
                            <div class="partners__item">
                                <img class="partners__logo-img" src="img/markets/partner2.png" alt="partners logo">
                            </div>
                            <div class="partners__item">
                                <img class="partners__logo-img" src="img/markets/partner3.png" alt="partners logo">
                            </div>
                            <div class="partners__item">
                                <img class="partners__logo-img" src="img/markets/partner4.png" alt="partners logo">
                            </div>
                            <div class="partners__item">
                                <img class="partners__logo-img" src="img/markets/partner5.png" alt="partners logo">
                            </div>
                            <div class="partners__item">
                                <img class="partners__logo-img" src="img/markets/partner6.png" alt="partners logo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="markets__result result">
                <div class="container">
                    <h2 class="result__title title">
                        Что вы получите в результате?
                    </h2>
                    <div class="result__items">
                        <div class="result__item">
                            <h3 class="result__item-title">
                                01
                            </h3>
                            <h4 class="result__item-subtitle">
                                Документы по продукту
                            </h4>
                            <p class="result__item-text">
                                Бизнес план, отчет по анализу рынка, маркетинговый план, unit экономика, список гипотез,
                                проект MVP
                            </p>
                        </div>
                        <div class="result__item">
                            <h3 class="result__item-title">
                                02
                            </h3>
                            <h4 class="result__item-subtitle">
                                Обратная связь от рынка
                            </h4>
                            <p class="result__item-text">
                                Проведение исследования целевой аудитории позволит сформировать Product market fit
                            </p>
                        </div>
                        <div class="result__item">
                            <h3 class="result__item-title">
                                03
                            </h3>
                            <h4 class="result__item-subtitle">
                                Продвижение продукта
                            </h4>
                            <p class="result__item-text">
                                Продвижение продукта через аналитические системы партнеров
                            </p>
                        </div>
                        <div class="result__item">
                            <h3 class="result__item-title">
                                04
                            </h3>
                            <h4 class="result__item-subtitle">
                                Подписка на отчеты
                            </h4>
                            <p class="result__item-text">
                                Подписка на аналитические отчеты по международным рынкам высокотехнологичных сфер
                            </p>
                        </div>
                        <div class="result__item">
                            <h3 class="result__item-title">
                                05
                            </h3>
                            <h4 class="result__item-subtitle">
                                Подписка на отчеты
                            </h4>
                            <p class="result__item-text">
                                Подписка на аналитические отчеты по международным рынкам высокотехнологичных сфер
                            </p>
                        </div>
                        <div class="result__item">
                            <h3 class="result__item-title">
                                06
                            </h3>
                            <h4 class="result__item-subtitle">
                                Подписка на отчеты
                            </h4>
                            <p class="result__item-text">
                                Подписка на аналитические отчеты по международным рынкам высокотехнологичных сфер
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="markets__price price">
                <div class="container">
                    <h2 class="price__title title">
                        Стоимость
                    </h2>
                    <div class="price__cards">
                        <div class="price__card card">
                            <div class="card__top">
                                <img class="card__img" src="img/markets/card1.svg " alt="card icon">
                                <h5 class="card__title">
                                    Анализ международных
                                    рынков
                                </h5>
                            </div>
                            <div class="card__descr">
                                <h6 class="card__subtitle">
                                    Что входит в отчет?
                                </h6>
                                <ol class="card__list">
                                    <li class="card__item">
                                        Анализ конкурентов
                                    </li>
                                    <li class="card__item">
                                        Анализ инвесторов
                                    </li>
                                    <li class="card__item">
                                        Размеры рынка (TAM,SAM,SOM)
                                    </li>
                                    <li class="card__item">
                                        Анализ СМИ
                                    </li>
                                    <li class="card__item">
                                        Анализ запрос в сети интернет
                                    </li>
                                </ol>
                                <ul class="card__sublist sublist">
                                    <li class="sublist__item">
                                        Готовность
                                        <span>
                                            7 раб. дней
                                        </span>
                                    </li>
                                    <li class="sublist__item">
                                        Язык
                                        <span>
                                            рус. / англ.
                                        </span>
                                    </li>
                                    <li class="sublist__item">
                                        Стоимость
                                        <span class="sublist__price">
                                            $1 000
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <button class="card__btn">
                                Оставить заявку
                            </button>
                        </div>
                        <div class="price__card card">
                            <div class="card__top">
                                <img class="card__img" src="img/markets/card2.svg " alt="card icon">
                                <h5 class="card__title">
                                    Упаковка стартапа <br>
                                    под локальные рынки
                                </h5>
                            </div>
                            <div class="card__descr">
                                <h6 class="card__subtitle">
                                    Что входит в услугу?
                                </h6>
                                <ol class="card__list">
                                    <li class="card__item">
                                        Анализ локальных рынков
                                    </li>
                                    <li class="card__item">
                                        Бизнес план
                                    </li>
                                    <li class="card__item">
                                        Питч презентация
                                    </li>
                                    <li class="card__item">
                                        Финансовый план
                                    </li>
                                    <li class="card__item">
                                        Расчет юнит экономики
                                    </li>
                                    <li class="card__item">
                                        Проведение каст дева
                                    </li>
                                </ol>
                                <ul class="card__sublist sublist">
                                    <li class="sublist__item">
                                        Готовность
                                        <span>
                                            7 раб. дней
                                        </span>
                                    </li>
                                    <li class="sublist__item">
                                        Язык
                                        <span>
                                            рус. / англ.
                                        </span>
                                    </li>
                                    <li class="sublist__item">
                                        Стоимость
                                        <span class="sublist__price">
                                            $1 000
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <button class="card__btn">
                                Оставить заявку
                            </button>
                        </div>
                        <div class="price__card card">
                            <div class="card__top">
                                <img class="card__img" src="img/markets/card3.svg " alt="card icon">
                                <h5 class="card__title">
                                    Акселератор <br>
                                    вашего бизнеса
                                </h5>
                            </div>
                            <div class="card__descr">
                                <h6 class="card__subtitle">
                                    Что входит в акселератор?
                                </h6>
                                <ol class="card__list">
                                    <li class="card__item">
                                        Онлайн доступ к курсам
                                    </li>
                                    <li class="card__item">
                                        Документы для бизнеса
                                    </li>
                                    <li class="card__item">
                                        Питч презентация
                                    </li>
                                    <li class="card__item">
                                        Демо день
                                    </li>
                                    <li class="card__item">
                                        Провдижение по результатам
                                    </li>
                                </ol>
                                <ul class="card__sublist sublist">
                                    <li class="sublist__item">
                                        Готовность
                                        <span>
                                            7 раб. дней
                                        </span>
                                    </li>
                                    <li class="sublist__item">
                                        Язык
                                        <span>
                                            рус. / англ.
                                        </span>
                                    </li>
                                    <li class="sublist__item">
                                        Стоимость
                                        <span class="sublist__price">
                                            $1 000
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <button class="card__btn">
                                Оставить заявку
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="experts">
            <div class="container">
                <h2 class="experts__title title">
                    Кто мы?
                </h2>
                <div class="experts__description">
                    <img class="experts__img" src="img/experts/01.png" alt="experts img">
                    <div class="experts__descr">
                        <p class="experts__text">
                            <span>
                                INNOMA.VC
                            </span>
                            - Международное аналитическое <br> агентство по запуску IT бизнеса на локальных рынках
                            регионов <br> Азии, Ближнего Востока, Латинской <br> Америки, Африк
                        </p>
                        <p class="experts__text">
                            Наша команда состоит из профессионалов своего <br> дела и основной нашей целью является
                            помощь IT <br>
                            компаниям получить необходимые знания и пакеты <br> документов, чтобы успешно запустить свой
                            продукт <br> на международных рынках.
                        </p>
                    </div>
                </div>
                <div class="experts__founder founder">
                    <img class="founder__photo" src="img/experts/founder.png" alt="photo">
                    <div class="founder__about">
                        <i class="founder__text">
                            Всем привет! <br> Меня зовут Роман. Последние 6 лет я являюсь частью <br>
                            инновационной экосистемы СНГ, прошел путь от проектного <br>
                            менеджера до руководителя продукта по автоматизированному <br> скаутингу и скорингу
                            стартапов. За 6 лет работы я увидел множество <br> ошибок и отсутствие ориентации
                            акселерационных программ под <br>
                            запросы стартапов. Все акселераторы выполнялись ради <br> акселераторв и выполнения КПЭ.
                        </i>
                        <div class="founder__name">
                            Роман Гайн
                            <span>
                                Основатель INNOMA.VC
                            </span>
                        </div>
                    </div>
                </div>
                <div class="experts__topslider swiper">
                    <div class="swiper-wrapper">
                        <div class="experts__topslider-item swiper-slide">
                            <img class="experts__photo" src="img/experts/1.png" alt="experts photo">
                            <img class="experts__photo" src="img/experts/2.png" alt="experts photo">
                            <img class="experts__photo" src="img/experts/3.png" alt="experts photo">
                            <img class="experts__photo" src="img/experts/4.png" alt="experts photo">
                            <img class="experts__photo" src="img/experts/5.png" alt="experts photo">
                        </div>
                        <div class="experts__topslider-item swiper-slide">
                            <img class="experts__photo" src="img/experts/1.png" alt="experts photo">
                            <img class="experts__photo" src="img/experts/2.png" alt="experts photo">
                            <img class="experts__photo" src="img/experts/3.png" alt="experts photo">
                            <img class="experts__photo" src="img/experts/4.png" alt="experts photo">
                            <img class="experts__photo" src="img/experts/5.png" alt="experts photo">
                        </div>
                        <div class="experts__topslider-item swiper-slide">
                            <img class="experts__photo" src="img/experts/1.png" alt="experts photo">
                            <img class="experts__photo" src="img/experts/2.png" alt="experts photo">
                            <img class="experts__photo" src="img/experts/3.png" alt="experts photo">
                            <img class="experts__photo" src="img/experts/4.png" alt="experts photo">
                            <img class="experts__photo" src="img/experts/5.png" alt="experts photo">
                        </div>
                    </div>
                </div>
                <div class="experts__slider swiper">
                    <h2 class="slider__title title">
                        Эксперты и трекеры программы
                    </h2>
                    <div class="swiper-wrapper">
                        <div class="experts__slider-item swiper-slide">
                            <div class="master">
                                <img class="master__photo" src="img/experts/master1.png" alt="master img">
                                <div class="master__name">
                                    Юрий Ким
                                </div>
                                <p class="master__skills">
                                    Проведение исследования <br> целевой аудитории позволит <br> сформировать Product
                                    <br> market fit
                                </p>
                            </div>
                            <div class="master">
                                <img class="master__photo" src="img/experts/master2.png" alt="master img">
                                <div class="master__name">
                                    Эшли Абрамс
                                </div>
                                <p class="master__skills">
                                    Проведение исследования <br> целевой аудитории позволит <br> сформировать Product
                                    <br> market fit
                                </p>
                            </div>
                            <div class="master">
                                <img class="master__photo" src="img/experts/master3.png" alt="master img">
                                <div class="master__name">
                                    Фатими Юсуф
                                </div>
                                <p class="master__skills">
                                    Проведение исследования <br> целевой аудитории позволит <br> сформировать Product
                                    <br> market fit
                                </p>
                            </div>
                            <div class="master">
                                <img class="master__photo" src="img/experts/master4.png" alt="master img">
                                <div class="master__name">
                                    Майкл Донован
                                </div>
                                <p class="master__skills">
                                    Проведение исследования <br> целевой аудитории позволит <br> сформировать Product
                                    <br> market fit
                                </p>
                            </div>
                        </div>
                        <div class="experts__slider-item swiper-slide">
                            <div class="master">
                                <img class="master__photo" src="img/experts/master1.png" alt="master img">
                                <div class="master__name">
                                    Юрий Ким
                                </div>
                                <p class="master__skills">
                                    Проведение исследования <br> целевой аудитории позволит <br> сформировать Product
                                    <br> market fit
                                </p>
                            </div>
                            <div class="master">
                                <img class="master__photo" src="img/experts/master2.png" alt="master img">
                                <div class="master__name">
                                    Эшли Абрамс
                                </div>
                                <p class="master__skills">
                                    Проведение исследования <br> целевой аудитории позволит <br> сформировать Product
                                    <br> market fit
                                </p>
                            </div>
                            <div class="master">
                                <img class="master__photo" src="img/experts/master3.png" alt="master img">
                                <div class="master__name">
                                    Фатими Юсуф
                                </div>
                                <p class="master__skills">
                                    Проведение исследования <br> целевой аудитории позволит <br> сформировать Product
                                    <br> market fit
                                </p>
                            </div>
                            <div class="master">
                                <img class="master__photo" src="img/experts/master4.png" alt="master img">
                                <div class="master__name">
                                    Майкл Донован
                                </div>
                                <p class="master__skills">
                                    Проведение исследования <br> целевой аудитории позволит <br> сформировать Product
                                    <br> market fit
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>

                    <div class="swiper-button-prev prev"></div>
                    <div class="swiper-button-next next"></div>
                </div>
            </div>
        </section>
        <section class="companions">
            <div class="container">
                <h2 class="companions__title title">
                    Наши партнеры
                </h2>
                <div class="companions__items">
                    <div class="companions__item">
                        <img class="companions__logo" src="img/companions/1.png" alt="companion logo">
                    </div>
                    <div class="companions__item">
                        <img class="companions__logo" src="img/companions/2.png" alt="companion logo">
                    </div>
                    <div class="companions__item">
                        <img class="companions__logo" src="img/companions/3.png" alt="companion logo">
                    </div>
                    <div class="companions__item">
                        <img class="companions__logo" src="img/companions/4.png" alt="companion logo">
                    </div>
                    <div class="companions__item">
                        <img class="companions__logo" src="img/companions/5.png" alt="companion logo">
                    </div>
                    <div class="companions__item">
                        <img class="companions__logo" src="img/companions/6.png" alt="companion logo">
                    </div>
                    <div class="companions__item">
                        <img class="companions__logo" src="img/companions/7.png" alt="companion logo">
                    </div>
                    <div class="companions__item">
                        <img class="companions__logo" src="img/companions/8.png" alt="companion logo">
                    </div>
                </div>
            </div>
            <div class="companions__begin begin">
                <div class="container">
                    <h3 class="begin__title">
                        Мы создаем международное сообщество <br> экспертов и партнеров
                    </h3>
                    <p class="begin__text">
                        Если вы или ваш бизнес может быть полезен IT командам при выходе <br> на международные рынки,
                        приглашем вас стать нашим партнером
                    </p>
                    <button class="begin__btn">
                        Стать партнером
                    </button>
                </div>
            </div>
        </section>
    </div>
    <script src="js/main.min.js"></script>
</body>

</html>