@font-face {
    font-family: 'Inter-ExtraBold', sans-serif;
    font-weight: 800;
    font-style: normal;
    src: local('Inter-ExtraBold'),
        url('../fonts/Inter-ExtraBold.woff2') format('woff2'),
        url('../fonts/Inter-ExtraBold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Medium', sans-serif;
    font-weight: 500;
    font-style: normal;
    src: local('Inter-Medium'),
        url('../fonts/Inter-Medium.woff2') format('woff2'),
        url('../fonts/Inter-Medium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Inter-SemiBold', sans-serif;
    font-weight: 600;
    font-style: normal;
    src: local('Inter-SemiBold'),
        url('../fonts/Inter-SemiBold.woff2') format('woff2'),
        url('../fonts/Inter-SemiBold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Monserrat-Bold', sans-serif;
    font-weight: 700;
    font-style: normal;
    src: local('Monserrat-Bold'),
        url('../fonts/Monserrat-Bold.woff2') format('woff2'),
        url('../fonts/Monserrat-Bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Monserrat-ExtraBold', sans-serif;
    font-weight: 800;
    font-style: normal;
    src: local('Monserrat-ExtraBold'),
        url('../fonts/Monserrat-ExtraBold.woff2') format('woff2'),
        url('../fonts/Monserrat-ExtraBold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Monserrat-Light', sans-serif;
    font-weight: 300;
    font-style: normal;
    src: local('Monserrat-Light'),
        url('../fonts/Monserrat-Light.woff2') format('woff2'),
        url('../fonts/Monserrat-Light.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Monserrat-Medium', sans-serif;
    font-weight: 500;
    font-style: normal;
    src: local('Monserrat-Medium'),
        url('../fonts/Monserrat-Medium.woff2') format('woff2'),
        url('../fonts/Monserrat-Medium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Monserrat-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    src: local('Monserrat-Regular'),
        url('../fonts/Monserrat-Regular.woff2') format('woff2'),
        url('../fonts/Monserrat-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Monserrat-SemiBold', sans-serif;
    font-weight: 600;
    font-style: normal;
    src: local('Monserrat-SemiBold'),
        url('../fonts/Monserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Monserrat-SemiBold.woff') format('woff');
    font-display: swap;
}